:root {
    --White: hsl(0, 0%, 100%);
    --Light_Grey: hsl(217, 12%, 63%);
    --Medium_Grey: hsl(216, 12%, 54%);
    --Dark_Blue: hsl(213, 19%, 18%);
    --Very_Dark_Blue: hsl(216, 12%, 8%);
    --Naranja: hsl(25, 97%, 53%);
    --colorIcon:hsl(213, 19%, 25%);
}


.containerMain {
    background-color: var(--Very_Dark_Blue);
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15rem;
}

.containerRating {
    height: 350px;
    width: 350px;
    background-color: var(--Dark_Blue);
    border-radius: 20px;
    padding: 2rem;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--colorIcon);
    display: flex;
    align-items: center;
    justify-content: center;
}


.containerRating-text {
    font-family: 'Overpass', sans-serif;
}

.containerRating-text h1 {
    color: var(--White);
}

.containerRating-text p {
    font-size: 15px;
    color: var(--Light_Grey);
}

.containerRating-point {
    display: flex;
    justify-content: space-between;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    color: var(--Medium_Grey);
    margin-top: 2rem;
}

.point{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: var(--colorIcon);
}

.point:hover{
    background-color: var(--Naranja);
    color: var(--White);
}

.point:active{
    background-color: var(--Medium_Grey);
}

.containerRating-button {
    background-color: var(--Naranja);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 42px;
    border-radius: 20px;
    margin-top: 2rem;
    border: none;

    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    color: var(--White);
    font-weight: 700;
}

.containerRating-button:hover{
    color: var(--Naranja);
    background-color: var(--White);
}

.attribution {
    position: fixed;
    bottom: 10px;
    font-size: 11px;
    text-align: center;
    color: aliceblue;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}